.comment_section {
    margin-top: 20px;
    width:60vw;
  }

  /* 댓글 제목 스타일 */
  .comment_section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .comment_list {
    border: 1px solid #ddd;
    padding: 10px;
    max-height: 200px;
    margin-bottom: 50px;
    overflow-y: auto;
    max-width: 80vw;
  }

  .comment_list p {
    margin: 10px 0;
  }
  .comment_user{
    font-size: 18px;
    width:200px;
    padding:10px;
    margin-right: 20px;
  }

  .comment_time{
    float: right;
    font-size: 12px;
  }
  .comment_txt{
    max-width:10vw;
  }
  .comment_form{
    display: flex;
  }
  .comment_textarea{
    width:55vw;
    resize: none;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
    margin-right: 5px;
    height: 45px;
   }