

.post_item {
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 5px; /* 둥근 테두리 설정 */
    cursor: pointer; /* 마우스 포인터 모양 변경 */
    margin-top: 15px; 
  }
  
  .post_content {
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
  }
  .position_right{
    float : right;
  }
  .hr_container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }

  .hr_text {
    flex:1;
    margin: 0 10px;
    white-space: nowrap;
    font-size: 14px;
  }

  .hr_line {
  flex:0.5;
  height: 1px;
  background-color: #000;
}