@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
html,
body {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --color-hover: rgba(32, 59, 232);
  --transition: all 0.2s ease;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (max-width: 768px) {
  img {
    max-width: 95vw;
  }
}


/* 화면 크기가 768px 이상일 때 스타일 변경 (웹)*/
@media (min-width: 768px) {
  img {
    max-width: 60vw;
  }
 }