
.header {
  position: fixed; /* 헤더를 화면 상단에 고정시킴 */
  top: 0; /* 화면 위쪽에 고정시킴 */
  width: 100%; /* 화면 너비에 맞춤 */
  background-color: #ffffff; /* 헤더 배경색 지정 */
  color: #070707; /* 헤더 글자색 지정 */
  padding: 10px; /* 헤더 패딩 설정 (선택사항) */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 (선택사항) */
  z-index: 1000; /* 다른 요소 위에 헤더를 배치 (선택사항) */
  background-image: url("../public/image/main.webp");
  background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.logo:hover{
cursor: pointer;
}

.logo h1 {
  font-size:15px; font-weight:500; color:#222; letter-spacing:1px;
}
.account { 
  float: right;
  cursor: pointer;
  transition: background-color 0.3s;
  }
.account:hover {
  background-color: #333;
  color: #fff;
}
.darkMode{
  float: right;
  cursor: pointer;
  width: 40px;
  font-size: 30px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width:30%;
}

.modal h2 {
  margin: 0;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.modal button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal button:last-child {
  background-color: #ccc;
  color: #333;
}

.modal button:last-child:hover {
  background-color: #999;
}
.search {
  position: relative;
  margin-left: auto;
  margin-right: 10px;
}
.input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}
.img {
  position : absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
}

@media (max-width: 768px) {
  .modal_content {
    width: 80vw;
  }
  .header_class {
    transition: height 0.3s; /* 높이 변경에 대한 애니메이션 설정 */
  }
  .menu_list {
    display: none;
  }
  .menu_item{
    background-image: url("../public/image/main.webp");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #070707;
  }
  .menu_open .menu_list {
    display: block; /* 메뉴가 열린 상태일 때 메뉴 리스트를 보여줍니다. */
    top: 0; /* 화면 위쪽에 고정시킴 */
    padding: 10px; /* 헤더 패딩 설정 (선택사항) */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 (선택사항) */
    z-index: 1000; /* 다른 요소 위에 헤더를 배치 (선택사항) */
  }
  .menu_open {
  position: fixed; /* 헤더를 화면 상단에 고정시킴 */
  top: 0; /* 화면 위쪽에 고정시킴 */
  width: 100%; /* 화면 너비에 맞춤 */
  color: #070707; /* 헤더 글자색 지정 */
  padding: 10px; /* 헤더 패딩 설정 (선택사항) */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 (선택사항) */
  z-index: 1000; /* 다른 요소 위에 헤더를 배치 (선택사항) */
  background-image: url("../public/image/main.webp");
  background-size: cover;
	background-position: center center;
	background-attachment: fixed;
  }
  .li_parent{
    list-style:decimal;
  }
  .li_submenu {
    list-style: none; /* 리스트 마커 제거 */
    font-size: 18px;
    padding: 0;
  }
  .icon_small{
    font-size: 16px; 
    width: 15px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .logo{
    display: none;
  }
}

@media (min-width: 768px) {
  .icon_small{
    display: none;
  }
  .menu_list{
    display: none;
  }
 }